.Navtext{
    color: #fff;
    opacity: 1!important;
    background-color: #ec407a;
    /* background-color:rgb(197, 60, 60)!important; */
    width: 100%;
    
}
.navbar{
    opacity: 1;
}
.top{
    width: 100%;
    /* background: red; */
    color: #fff;
    z-index: 1;
    text-align: left
}
.navbarSS{
    /* margin-bottom:2%; */
    

}


.nospace{margin:0; padding:0; list-style:none;}


.fl_left{float:left;}
.fl_right{float:right;
background: black;}

li{margin-right:20px;}
li:last-child{margin-right:0;}